{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block main %}

		<!-- SLIDESHOW -->
		<div class="uk-container-expand">
			<div class="impx-slide-container style1 hp2">
				<div class="impx-slideshow-fw">

					<div data-uk-slideshow="autoplay: true; autoplay-interval: 6000; animation: fade; finite: false ;min-height: 319; max-height: 980;">
						<div class="uk-position-relative uk-visible-toggle uk-light">

						    <ul class="uk-slideshow-items">
						    	<!-- Slideshow Item #1 -->
						    	<li>
						    		<div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-bottom-center">
								    	<img src="{% static 'images/slideshow/full-slide-1.jpg' %}" alt="" data-uk-cover>
								    	<div class="uk-overlay-primary uk-position-cover impx-overlay dark"></div>
									</div>
									<div class="uk-container uk-position-relative uk-height-1-1">
										<div class="uk-position-left uk-flex uk-flex-middle">
											<div class="impx-slide-fw-caption">
												<div class="impx-slide-fw-caption-outline uk-transition-slide-left"></div>
									    		<h1 class="uk-margin-remove impx-text-shadow uk-transition-slide-top uk-text-left">Dynasty Hotel &amp; Resort</h1>
									    		<p class="uk-text-large impx-text-aqua uk-margin-remove impx-text-shadow uk-transition-slide-bottom uk-text-right uk-text-uppercase">Responsive Django website</p>
								    		</div>
								    	</div>
							    	</div>
						    	</li>
						    	<!-- Slideshow Item #1 End -->

						    	<!-- Slideshow Item #2 -->
						    	<li>
						    		<div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
								    	<img src="{% static 'images/slideshow/full-slide-2.jpg' %}" alt="" data-uk-cover>
								    	<div class="uk-overlay-primary uk-position-cover impx-overlay dark"></div>
								    </div>
								    <div class="uk-container uk-position-relative uk-height-1-1">
										<div class="uk-position-right uk-flex uk-flex-middle">
											<div class="impx-slide-fw-caption right">
												<div class="impx-slide-fw-caption-outline right bottom uk-transition-slide-left"></div>
									    		<h1 class="uk-margin-remove impx-text-shadow uk-transition-slide-top uk-text-right">Beautiful Panorama</h1>
									    		<p class="uk-text-large impx-text-aqua uk-margin-remove impx-text-shadow uk-transition-slide-bottom uk-text-right uk-text-uppercase">Enjoy the Best View</p>
								    		</div>
								    	</div>
							    	</div>
						    	</li>
						    	<!-- Slideshow Item #2 End -->

						    	<!-- Slideshow Item #3 -->
						    	<li>
						    		<div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
								    	<img src="{% static 'images/slideshow/full-slide-3.jpg' %}" alt="" data-uk-cover>
								    	<div class="uk-overlay-primary uk-position-cover impx-overlay dark"></div>
								    </div>
								    <div class="uk-container uk-position-relative uk-height-1-1">
										<div class="uk-position-left uk-flex uk-flex-middle">
											<div class="impx-slide-fw-caption text-right">
												<div class="impx-slide-fw-caption-outline uk-transition-slide-top"></div>
									    		<h1 class="impx-text-white uk-margin-remove impx-text-shadow uk-transition-scale-down">Luxurious &amp; Convenient</h1>
									    		<p class="uk-text-large impx-text-gold uk-margin-remove impx-text-shadow uk-transition-scale-up uk-text-right uk-text-uppercase">Choose The Best One</p>
								    		</div>
								    	</div>
							    	</div>
						    	</li>
						    	<!-- Slideshow Item #3 End -->

						    	<!-- Slideshow Item #4 -->
						    	<li>
						    		<div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-bottom-right">
								    	<img src="{% static 'images/slideshow/full-slide-4.jpg' %}" alt="" data-uk-cover>
								    	<div class="uk-overlay-primary uk-position-cover impx-overlay dark"></div>
								    </div>
								    <div class="uk-container uk-position-relative uk-height-1-1">
										<div class="uk-position-center uk-flex uk-flex-middle">
											<div class="impx-slide-fw-caption bottom">
												<div class="impx-slide-fw-caption-outline center bottom uk-transition-slide-left"></div>
									    		<h1 class="uk-margin-remove impx-text-shadow uk-transition-slide-top uk-text-center">Oriental Spa</h1>
									    		<p class="uk-text-large impx-text-aqua uk-margin-remove impx-text-shadow uk-transition-slide-bottom uk-text-center uk-text-uppercase">Our Spa Service</p>
								    		</div>
								    	</div>
							    	</div>
						    	</li>
						    	<!-- Slideshow Item #4 End -->

						    	<!-- Slideshow Item #5 -->
						    	<li>
						    		<div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-top-center">
								    	<img src="{% static 'images/slideshow/full-slide-5.jpg' %}" alt="" data-uk-cover>
								    	<div class="uk-overlay-primary uk-position-cover impx-overlay dark"></div>
							    	</div>
							    	<div class="uk-container uk-position-relative uk-height-1-1">
										<div class="uk-position-left uk-flex uk-flex-middle">
											<div class="impx-slide-fw-caption">
												<div class="impx-slide-fw-caption-outline uk-transition-slide-fade"></div>
									    		<h1 class="impx-text-white uk-margin-remove impx-text-shadow uk-transition-slide-bottom">In-house Restaurant</h1>
									    		<p class="uk-text-large impx-text-aqua uk-margin-remove impx-text-shadow uk-transition-slide-top uk-text-right uk-text-uppercase">The Delicious Foods</p>
								    		</div>
								    	</div>
							    	</div>
							    </li>
							    <!-- Slideshow Item #5 End -->
						    </ul>

						    <!-- Slideshow Nav -->
						    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" data-uk-slidenav-previous data-uk-slideshow-item="previous"></a>
		        			<a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" data-uk-slidenav-next data-uk-slideshow-item="next"></a>
		        			<!-- Slideshow Nav End -->

		        		</div>
				    </div>

			    </div>
			</div>
		</div>
		<!-- SLIDESHOW END -->

		<!-- BOOKING FORM -->
		<div class="slide-form-section hp2">
			<div class="uk-container">
				<div data-uk-grid class="impx-negative-top uk-margin-medium-bottom slide-form">
					<div class="uk-flex uk-flex-center" data-uk-grid>
						<div class="uk-width-1-1">
							<div class="impx-hp-booking-form hp2">
								<h6 class="uk-heading-line uk-text-center impx-text-white uk-margin-bottom uk-text-uppercase"><span class="book-title">Booking Form</span></h6>
								<form class="uk-grid-margin-small uk-child-width-1-6@xl uk-child-width-1-6@l uk-child-width-1-6@m uk-child-width-1-3@s" data-uk-grid method="POST" action="{% url 'rooms:book' %}">
									{% csrf_token %}
									<div class="uk-form-controls">
									    <div class="uk-inline">
									    	<label class="uk-form-label label-form" for="{{ form.booking_email.id_for_label }}">{{ form.booking_email.label }}</label>
									    	<span class="uk-form-icon" data-uk-icon="icon: mail"></span>
									        {% render_field form.booking_email class='uk-input booking-email uk-border-rounded' placeholder='Your Email' type="email" %}
									    </div>
								    </div>
								    <div class="uk-form-controls">
									    <div class="uk-inline">
									    	<label class="uk-form-label label-form" for="{{ form.booking_arrival.id_for_label }}">{{ form.booking_arrival.label }}</label>
									    	<span class="uk-form-icon" data-uk-icon="icon: calendar"></span>
									        {% render_field form.booking_arrival type='date' class='uk-input booking-arrival uk-border-rounded' placeholder='m/dd/yyyy' %}
									    </div>
									</div>
								    <div class="uk-form-controls">
									    <div class="uk-inline">
									    	<label class="uk-form-label label-form" for="{{ form.booking_departure.id_for_label }}">{{ form.booking_departure.label }}</label>
									    	<span class="uk-form-icon" data-uk-icon="icon: calendar"></span>
									        {% render_field form.booking_departure type='date' class='uk-input booking-departure uk-border-rounded' placeholder='m/dd/yyyy' %}
									    </div>
								    </div>
								    <div class="uk-form-controls uk-position-relative">
								    	<label class="uk-form-label label-form" for="{{ form.no_of_guests.id_for_label }}">{{ form.no_of_guests.label }}</label>
								    	<span class="uk-form-icon select-icon" data-uk-icon="icon: users"></span>
										{% render_field form.no_of_guests class='uk-select uk-border-rounded' %}
								    </div>
								   <div class="uk-form-controls uk-position-relative">
								    	<label class="uk-form-label label-form" for="{{ form.room.id_for_label }}">{{ form.room.label }}</label>
								    	<span class="uk-form-icon select-icon" data-uk-icon="icon: album"></span>
										{% render_field form.room class='uk-select uk-border-rounded' %}
								    </div>
								    <div>
								    	<label class="uk-form-label empty-label">&nbsp;</label>
								        <button class="uk-button uk-width-1-1" type="submit">Search Room</button>
								    </div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- BOOKING FORM END -->

		<!-- SERVICES -->
		<div class="impx-content style3 hp2 bg-color-aqua uk-padding uk-padding-remove-horizontal pattern-1">
			<div class="uk-container uk-container-expand">

				<div data-uk-grid class="uk-position-relative uk-position-z-index">

					<div class="uk-width-expand">
						<ul class="uk-child-width-1-6@xl uk-child-width-1-6@l uk-child-width-1-3@m uk-child-width-1-2@s data-uk-grid fac-list" data-uk-grid>
						    <li class="uk-text-center"><!-- Service item #1 -->
						    	<i class="fa fa-cutlery fa-2x impx-text-white"></i>
						    	<h6 class="uk-margin-remove-bottom uk-margin-small-top impx-text-white">In-house Restaurant</h6>
						    	<p class="uk-margin-remove-bottom uk-margin-small-top impx-text-light">Ergo hoc quidem apparet agendum esse natos. Quam tu ponis in verbis ego</p>
						    </li>
						    <li class="uk-text-center"><!-- Service item #2 -->
						    	<i class="fa fa-paw fa-2x impx-text-white"></i>
						    	<h6 class="uk-margin-remove-bottom uk-margin-small-top impx-text-white">Outdoor</h6>
						    	<p class="uk-margin-remove-bottom uk-margin-small-top impx-text-light">Ergo hoc quidem apparet agendum esse natos. Quam tu ponis in verbis ego</p>
						    </li>
						    <li class="uk-text-center"><!-- Service item #3 -->
						    	<i class="fa fa-asterisk fa-2x impx-text-white"></i>
						    	<h6 class="uk-margin-remove-bottom uk-margin-small-top impx-text-white">Spa</h6>
						    	<p class="uk-margin-remove-bottom uk-margin-small-top impx-text-light">Ergo hoc quidem apparet agendum esse natos. Quam tu ponis in verbis ego</p>
						    </li>
						    <li class="uk-text-center"><!-- Service item #4 -->
						    	<i class="fa fa-heart-o fa-2x impx-text-white"></i>
						    	<h6 class="uk-margin-remove-bottom uk-margin-small-top impx-text-white">Gym Studio</h6>
						    	<p class="uk-margin-remove-bottom uk-margin-small-top impx-text-light">Ergo hoc quidem apparet agendum esse natos. Quam tu ponis in verbis ego</p>
						    </li>
						    <li class="uk-text-center"><!-- Service item #5 -->
						    	<i class="fa fa-child fa-2x impx-text-white"></i>
						    	<h6 class="uk-margin-remove-bottom uk-margin-small-top impx-text-white">Kids Playground</h6>
						    	<p class="uk-margin-remove-bottom uk-margin-small-top impx-text-light">Ergo hoc quidem apparet agendum esse natos. Quam tu ponis in verbis ego</p>
						    </li>
						    <li class="uk-text-center"><!-- Service item #6 -->
						    	<i class="fa fa-hand-o-right fa-2x impx-text-white"></i>
						    	<h6 class="uk-margin-remove-bottom uk-margin-small-top impx-text-white">Golf</h6>
						    	<p class="uk-margin-remove-bottom uk-margin-small-top impx-text-light">Ergo hoc quidem apparet agendum esse natos. Quam tu ponis in verbis ego</p>
						    </li>
						</ul>

					</div>

				</div>

			</div>
		</div>
		<!-- SERVICES END -->

		<!-- WHY CHOOSE US? -->
		<div class="uk-padding uk-padding-remove-horizontal uk-position-relative uk-position-relative bg-img1">
			<div class="uk-container">

				<div class="uk-flex-left" data-uk-grid>
					<div class="uk-width-2-3@xl uk-width-2-3@l uk-width-1-1@m">
						<div class="impx-intro uk-text-left"><!-- Intro -->
							<h2 class="uk-margin-remove-bottom">Why Choose Us?</h2>
							<p class="uk-margin-remove-top uk-text-uppercase uk-text-muted impx-text-large">You can additional subtitle Here.</p>
							<p class="impx-text-large uk-margin-remove impx-text-aqua">Re mihi non aeque satisfacit, et quidem locis pluribus. Atqui, inquam, Cato, si istud optinueris, traducas me ad te totum inquit, tamen cum his omnibus animi laetitia, quam capiebam.</p>
						</div><!-- Intro End -->
					</div>
				</div>

				<div class="uk-width-3-4@xl uk-width-3-4@l uk-width-1-1@m uk-width-1-1@s uk-position-relative uk-margin-bottom" data-uk-grid>
					<!-- Reason Items -->
					<ul class="uk-child-width-1-3@xl uk-child-width-1-3@l uk-child-width-1-3@m uk-child-width-1-2@s impx-features-hl uk-grid-medium uk-grid-match" data-uk-grid>
						<li><!-- Reason Item #1 -->
					        <div class="uk-card uk-card-default uk-card-body uk-box-shadow-medium color1 impx-feature-item uk-position-relative">
					        	<h6 class="uk-margin-remove-top uk-margin-bottom impx-text-white">Best Value for Family</h6>
								<p class="uk-margin-remove  impx-text-lighter">Cur igitur, cum de re conveniat, melius nos veriusque quam Stoici mallem aut expetendam.</p>
								<span data-uk-icon="icon: users; ratio: 8" class="feature-icon"></span>
					        </div>
						</li><!-- Reason Item #1 End -->
						<li><!-- Reason Item #2 -->
							 <div class="uk-card uk-card-default uk-card-body uk-box-shadow-medium color2 impx-feature-item uk-position-relative">
								<h6 class="uk-margin-remove-top uk-margin-bottom impx-text-white">Services Priority</h6>
								<p class="uk-margin-remove impx-text-lighter">Cur igitur, cum de re conveniat, melius nos veriusque quam Stoici mallem aut expetendam.</p>
								<span data-uk-icon="icon: bell; ratio: 8" class="feature-icon"></span>
							</div>
						</li><!-- Reason Item #2 End -->
						<li><!-- Reason Item #3 -->
							<div class="uk-card uk-card-default uk-card-body uk-box-shadow-medium color3 impx-feature-item uk-position-relative">
								<h6 class="uk-margin-remove-top uk-margin-bottom impx-text-white">Best Facilities</h6>
								<p class="uk-margin-remove impx-text-lighter">Cur igitur, cum de re conveniat, melius nos veriusque quam Stoici mallem aut expetendam.</p>
								<span data-uk-icon="icon: star; ratio: 8" class="feature-icon"></span>
							</div>
						</li><!-- Reason Item #3 End -->
						<li><!-- Reason Item #4 -->
							 <div class="uk-card uk-card-default uk-card-body uk-box-shadow-medium color4 impx-feature-item uk-position-relative">
								<h6 class="uk-margin-remove-top uk-margin-bottom impx-text-white">Satisfation Guarantee</h6>
								<p class="uk-margin-remove impx-text-lighter">Cur igitur, cum de re conveniat, melius nos veriusque quam Stoici mallem aut expetendam.</p>
								<span data-uk-icon="icon: heart; ratio: 8" class="feature-icon"></span>
							</div>
						</li><!-- Reason Item #4 End -->
						<li><!-- Reason Item #5 -->
							 <div class="uk-card uk-card-default uk-card-body uk-box-shadow-medium color5 impx-feature-item uk-position-relative">
								<h6 class="uk-margin-remove-top uk-margin-bottom impx-text-white">Beatiful Panorama</h6>
								<p class="uk-margin-remove impx-text-lighter">Cur igitur, cum de re conveniat, melius nos veriusque quam Stoici mallem aut expetendam.</p>
								<span data-uk-icon="icon: image; ratio: 8" class="feature-icon"></span>
							</div>
						</li><!-- Reason Item #5 End -->
						<li><!-- Reason Item #6 -->
							<div class="uk-card uk-card-default uk-card-body uk-box-shadow-medium color6 impx-feature-item uk-position-relative">
								<h6 class="uk-margin-remove-top uk-margin-bottom impx-text-white">Enjoy Your Time</h6>
								<p class="uk-margin-remove impx-text-lighter">Cur igitur, cum de re conveniat, melius nos veriusque quam Stoici mallem aut expetendam.</p>
								<span data-uk-icon="icon: happy; ratio: 8" class="feature-icon"></span>
							</div>
						</li><!-- Reason Item #6 End -->
					</ul>
					<!-- Reason Items End -->
				</div>

			</div>
		</div>
		<!-- WHY CHOOSE US? END -->

		<!-- ROOMS LIST -->
		<div class="uk-padding uk-padding-remove-horizontal uk-position-relative impx-section-rooms style2 bg2 uk-position-relative no-margin uk-background-fixed uk-background-center-center uk-height-1-1">
			<div class="impx-overlay darker"></div>

			<div class="uk-container">
				<div class="uk-margin-bottom uk-flex uk-flex-center uk-position-relative uk-position-z-index" data-uk-grid>
					<div class="uk-width-2-3@xl uk-width-2-3@l uk-width-1-1@m uk-width-1-1@xl">
						<div class="impx-intro uk-text-center"><!-- intro -->
							<h2 class="uk-margin-remove-bottom impx-text-white">Find Our Best Rooms &amp; Services</h2>
							<p class="impx-text-large impx-text-lighter uk-margin-small-top uk-margin-bottom">Quae rursus dum sibi evelli ex ordine nolunt, horridiores evadunt, asperiores, duriores et oratione et moribus. Propter nos enim illam, non propter eam nosmet ipsos diligimus. Qui bonum omne. </p>
						</div><!-- intro end -->
					</div>
				</div>
			</div>

			<div class="uk-container">
		    	<div class="uk-position-relative uk-visible-toggle  uk-margin-medium-bottom">
					<!-- room items -->
			        <ul class="uk-child-width-1-2@xl uk-child-width-1-2@l uk-child-width-1-2@m uk-child-width-1-1@s uk-grid-collapse uk-box-shadow-large uk-grid-match"  data-uk-grid>
						{% for room in rooms %}
						{% if room.room == 'Double Room' %}
			            <li><!-- room items #1-->
			            	<div class="impx-room-item medium">
			            		<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s" data-uk-grid>
			            			<div class="uk-card-media-left uk-cover-container uk-position-relative">
			            				<canvas width="290" height="180"></canvas>
								        <img src="{{ room.room_big_img.url }}" alt="" data-uk-cover>
								        <div class="impx-overlay light overlay-squared padding-xwide"></div>
								    </div>
							        <div class="uk-card-body uk-position-relative impx-padding-medium">
							        	<div class="uk-card-header uk-padding-remove-horizontal">
							                <h4 class="uk-card-title uk-margin-remove-bottom">{{ room }}</h4>
									    </div>
							        	<span class="uk-card-badge uk-label bg-color-aqua">from ${{ room.room_price }}/night</span>
							            <ul class="uk-list room-fac">
											{% for p in room.room_feature.all %}
											<li><span class="impx-text-aqua" data-uk-icon="icon: check; ratio: 1;"></span>{{ p }}</li>
											{% endfor %}
										</ul>

										 <div class="uk-card-footer uk-padding-remove-horizontal uk-padding-remove-bottom">
									        <a href="{{ room.get_absolute_url }}" class="uk-button uk-button-text impx-text-aqua">Read more</a>
									    </div>
							        </div>
								</div>
							</div>
						</li><!-- room items #1 end -->
						{% elif room.room == 'Single Room' %}
						<li><!-- room items #2 -->
							<div class="impx-room-item medium">
								<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s" data-uk-grid>
								    <div class="uk-card-media-left uk-cover-container uk-position-relative">
								    	<canvas width="290" height="180"></canvas>
								        <img src="{{ room.room_big_img.url }}" alt="" data-uk-cover>
								        <div class="impx-overlay light overlay-squared padding-xwide"></div>
								    </div>
							        <div class="uk-card-body uk-position-relative  impx-padding-medium">
							        	<div class="uk-card-header uk-padding-remove-horizontal">
							                <h4 class="uk-card-title uk-margin-remove-bottom">{{ room.room }}</h4>
									    </div>
							        	<span class="uk-card-badge uk-label bg-color-aqua">from ${{ room.room_price }}/night</span>
							            <ul class="uk-list room-fac">
											{% for p in room.room_feature.all %}
											<li><span class="impx-text-aqua" data-uk-icon="icon: check; ratio: 1;"></span>{{ p }}</li>
											{% endfor %}
										</ul>

										<div class="uk-card-footer uk-padding-remove-horizontal uk-padding-remove-bottom">
									        <a href="{{ room.get_absolute_url }}" class="uk-button uk-button-text impx-text-aqua">Read more</a>
									    </div>
							        </div>
								</div>
							</div>
						</li><!-- room items #2 end -->
						{% elif room.room == 'Deluxe Room' %}
						<li><!-- room items #4 -->
							<div class="impx-room-item medium">
								<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s" data-uk-grid>
									<div class="uk-card-body uk-position-relative impx-padding-medium">
							        	<div class="uk-card-header uk-padding-remove-horizontal">
							                <h4 class="uk-card-title uk-margin-remove-bottom">{{ room.room }}</h4>
									    </div>
							        	<span class="uk-card-badge uk-label bg-color-aqua">from ${{ room.room_price }}/night</span>
							            <ul class="uk-list room-fac">
											{% for p in room.room_feature.all %}
											<li><span class="impx-text-aqua" data-uk-icon="icon: check; ratio: 1;"></span>{{ p }}</li>
											{% endfor %}
										</ul>

										<div class="uk-card-footer uk-padding-remove-horizontal uk-padding-remove-bottom">
									        <a href="{{ room.get_absolute_url }}" class="uk-button uk-button-text impx-text-aqua">Read more &raquo;</a>
									    </div>
							        </div>
								    <div class="uk-card-media-right uk-cover-container uk-position-relative">
								    	<canvas width="290" height="180"></canvas>
								        <img src="{{ room.room_big_img.url }}" alt="" data-uk-cover>
								        <div class="impx-overlay light overlay-squared padding-xwide"></div>
								    </div>
								</div>
							</div>
						</li><!-- room items #4 end-->
						{% elif room.room == 'EnSuite Room' %}
						<li><!-- room items #4 -->
							<div class="impx-room-item medium">
								<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s" data-uk-grid>
									<div class="uk-card-body uk-position-relative impx-padding-medium">
							        	<div class="uk-card-header uk-padding-remove-horizontal">
							                <h4 class="uk-card-title uk-margin-remove-bottom">{{ room.room }}</h4>
									    </div>
							        	<span class="uk-card-badge uk-label bg-color-aqua">from ${{ room.room_price }}/night</span>
							            <ul class="uk-list room-fac">
											{% for p in room.room_feature.all %}
											<li><span class="impx-text-aqua" data-uk-icon="icon: check; ratio: 1;"></span>{{ p }}</li>
											{% endfor %}
										</ul>

										<div class="uk-card-footer uk-padding-remove-horizontal uk-padding-remove-bottom">
									        <a href="{{ room.get_absolute_url }}" class="uk-button uk-button-text impx-text-aqua">Read more &raquo;</a>
									    </div>
							        </div>
								    <div class="uk-card-media-right uk-cover-container uk-position-relative">
								    	<canvas width="290" height="180"></canvas>
								        <img src="{{ room.room_big_img.url }}" alt="" data-uk-cover>
								        <div class="impx-overlay light overlay-squared padding-xwide"></div>
								    </div>
								</div>
							</div>
						</li><!-- room items #4 end-->
						{% endif %}
						{% endfor %}
			        </ul><!-- room items end -->
		        </div>

				<div class="uk-flex-center uk-margin-small-bottom" data-uk-grid>
					<div class="uk-text-center uk-position-relative uk-position-z-index"><!-- room button -->
						<a href="{% url 'rooms:room' %}" class="uk-button uk-button-default impx-button impx-button-outline">Browse Our Rooms <i class="uk-icon-arrow-circle-o-right"></i></a>
					</div><!-- room button end -->
				</div>
			</div>

		</div>
		<!-- ROOMS LIST END -->

		<!-- PRICING PLANS -->
		<div class="uk-padding">
			<div class="uk-container">
				<div class="uk-flex uk-flex-center uk-margin-medium-bottom impx-rooms-intro">
					<div class="uk-width-2-3@xl uk-width-2-3@l uk-width-1-1@m uk-width-1-1@s uk-text-center"><!-- intro -->
						<h2 class="uk-margin-remove-top uk-margin-small-bottom">Our Special Offers</h2>
						<p class="impx-text-large uk-margin-remove-top">Eiuro, inquit adridens, iniquum, hac quidem de re Conferam tecum, quam cuique verso rem si vis, <span class="uk-label uk-label-danger uk-text-bold bg-color-gold">$299 for 3 Nights</span> transfer in animum; Sed quanta sit alias?</p>
					</div><!-- intro end -->
				</div>

				<div class="uk-flex uk-flex-center uk-margin-bottom">
					<div class="uk-width-1-1">
						<!-- pricing items -->
						<div class="uk-child-width-1-3@xl uk-child-width-1-3@l uk-child-width-1-3@m uk-child-width-1-3@s uk-grid-collapse" data-uk-grid>
							{% for price in offer %}
							{% if price.special_title == 'Silver' %}
							<div><!-- pricing item #1 -->
								<div class="impx-promo-pricing uk-padding uk-box-shadow-medium uk-light bg-color-white">
									<div class="uk-position-relative">
										<img src="{{ price.image.url }}" alt="">
										<div class="impx-overlay light"></div>
									</div>
									<div class=" uk-position-relative bg-color-gold uk-padding">
							            <h4 class="uk-heading-line"><span>{{ price.special_title }}</span></h4>
							            <span class="uk-label uk-label-success impx-text-gold uk-text-bold">${{ price.price }} for 3 Nights</span>
										<a href="{{ price.get_absolute_url }}" class="uk-button impx-button small impx-button-outline small-border">View Detail <i class="fa fa-arrow-right"></i></a>
									</div>
						        </div>
							</div><!-- pricing item #1 end -->
							{% elif price.special_title == 'Gold' %}
							<div class="uk-position-relative uk-position-z-index"><!-- pricing item #2 -->
								<div class="impx-promo-pricing uk-padding uk-box-shadow-large uk-light featured bg-color-white">
									<div class="uk-position-relative">
										<img src="{{ price.image.url }}" alt="">
										<div class="impx-overlay light"></div>
									</div>
									<div class=" uk-position-relative bg-color-aqua uk-padding">
							            <h3 class="uk-heading-line"><span>{{ price.special_title }}</span></h3>
							            <span class="uk-label uk-label-success impx-text-gold uk-text-bold">${{ price.price }} for 3 Nights</span>
										<a href="{{ price.get_absolute_url }}" class="uk-button impx-button small impx-button-outline small-border">View Detail <i class="fa fa-arrow-right"></i></a>
									</div>
						        </div>
							</div><!-- pricing item #2 end -->
							{% else %}
							<div><!-- pricing item #3 -->
								<div class="impx-promo-pricing uk-padding uk-box-shadow-medium uk-light bg-color-white">
									<div class="uk-position-relative">
										<img src="{{ price.image.url }}" alt="">
										<div class="impx-overlay light"></div>
									</div>
									<div class=" uk-position-relative bg-color-gold uk-padding">
							            <h4 class="uk-heading-line"><span>{{ price.special_title }}</span></h4>
							            <span class="uk-label uk-label-success impx-text-gold uk-text-bold">${{ price.price }} for 3 Nights</span>
										<a href="{{ price.get_absolute_url }}" class="uk-button impx-button small impx-button-outline small-border">View Detail <i class="fa fa-arrow-right"></i></a>
									</div>
						        </div>
							</div><!-- pricing item #3 end -->
							{% endif %}
							{% endfor %}
						</div>
						<!-- pricing items end -->
					</div>
				</div>
			</div>
		</div>
		<!-- PRICING PLANS END -->

		<!-- TESTIMONIALS CAROUSEL -->
		<div class="uk-padding uk-padding-remove-horizontal uk-position-relative impx-section-testimonial hp2 uk-background-fixed uk-background-center-center uk-height-1-1">
			<div class="impx-overlay darker"></div>
			<div class="uk-container">

					<!-- Intro -->
					<div class="uk-position-relative uk-position-z-index uk-flex uk-flex-center" data-uk-grid>
						<div class="uk-width-1-2@xl uk-width-1-2@l uk-width-3-4@m">
		    				<div class="impx-intro uk-text-center uk-light"><!-- Intro -->
	    						<h2 class="uk-margin-small-bottom">Testimonials</h2>
								<a href="#" class="uk-button-small"><span class="fa fa-plus-square"></span></a>
	    						<p class="impx-text-large uk-margin-remove">Si alia sentit loquitur, numquam intellegam quid tu nunc in illo probas si omnia non sequebatur, idcirco non erat.</p>
	    					</div><!-- Intro End -->
						</div>
					</div>

					<div class="uk-flex uk-flex-center uk-margin-bottom" data-uk-grid>
						<div class="uk-width-2-3@xl uk-width-2-3@l uk-width-5-6@m">
						<!-- Testimonials items -->
						<div class="impx-testimonial-list">
							<div  data-uk-slider="{autoplay: true, finite: true}">
								<div class="uk-position-relative uk-visible-toggle uk-light">
								    <ul class="uk-slider-items uk-child-width-1-1" data-uk-grid>
								        <li class="uk-padding-large uk-padding-remove-vertical"><!-- Testimonial item #1 -->
							        		<div class="impx-testimonial-item impx-contrast">
												<div class="impx-testi-container">
													<div class="impx-testi-text">
														<blockquote>
															<p>Hinc ceteri particulas arripere conati suam quisque videro voluit afferre sententiam. Erit enim mecum, si tecum erit conantur! nostrum! Incendi igitur eos, qui audiunt, vides</p>
														</blockquote>
													</div>
													<div class="uk-text-center">
														<div class="impx-testi-name"><p>Mrs. Smith Yan</p></div>
														<div class="impx-company-name"><p class="bg-color-gold">Book Author</p></div>
													</div>
				    							</div>
												<div class="impx-testi-image"><img src="{% static 'images/peoples/testi-people1.jpg' %}" alt="People 1" /></div>
											</div>
			    						</li><!-- Testimonial item #1 end -->
			    						<li class="uk-padding-large uk-padding-remove-vertical"><!-- Testimonial item #2 -->
											<div class="impx-testimonial-item impx-contrast">
												<div class="impx-testi-container">
													<div class="impx-testi-text">
														<blockquote>
															<p>Hinc ceteri particulas arripere conati suam quisque videro voluit afferre sententiam. Erit enim mecum, si tecum erit conantur! nostrum! Incendi igitur eos, qui audiunt, vides</p>
														</blockquote>
													</div>
													<div class="uk-text-center">
														<div class="impx-testi-name"><p>Mrs. Smith Yan</p></div>
														<div class="impx-company-name"><p class="bg-color-gold">Book Author</p></div>
													</div>
				    							</div>
												<div class="impx-testi-image"><img src="{% static 'images/peoples/testi-people2.jpg' %}" alt="People 1"   /></div>
											</div>
			    						</li><!-- Testimonial item #2 end -->
			    						<li class="uk-padding-large uk-padding-remove-vertical"><!-- Testimonial item #3 -->
											<div class="impx-testimonial-item impx-contrast">
												<div class="impx-testi-container">
													<div class="impx-testi-text">
														<blockquote>
															<p>Hinc ceteri particulas arripere conati suam quisque videro voluit afferre sententiam. Erit enim mecum, si tecum erit conantur! nostrum! Incendi igitur eos, qui audiunt, vides</p>
														</blockquote>
													</div>
													<div class="uk-text-center">
														<div class="impx-testi-name"><p>Mrs. Smith Yan</p></div>
														<div class="impx-company-name"><p class="bg-color-gold">Book Author</p></div>
													</div>
				    							</div>
												<div class="impx-testi-image"><img src="{% static 'images/peoples/testi-people3.jpg' %}" alt="People 1"   /></div>
											</div>
			    						</li><!-- Testimonial item #3 end -->
			    						<li class="uk-padding-large uk-padding-remove-vertical"><!-- Testimonial item #4 -->
											<div class="impx-testimonial-item impx-contrast">
												<div class="impx-testi-container">
													<div class="impx-testi-text">
														<blockquote>
															<p>Hinc ceteri particulas arripere conati suam quisque videro voluit afferre sententiam. Erit enim mecum, si tecum erit conantur! nostrum! Incendi igitur eos, qui audiunt, vides</p>
														</blockquote>
													</div>
													<div class="uk-text-center">
														<div class="impx-testi-name"><p>Mrs. Smith Yan</p></div>
														<div class="impx-company-name"><p class="bg-color-gold">Book Author</p></div>
													</div>
				    							</div>
												<div class="impx-testi-image"><img src="{% static 'images/peoples/testi-people4.jpg' %}" alt="People 1"   /></div>
											</div>
			    						</li><!-- Testimonial item #4 end -->
									</ul>
									<a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" data-uk-slidenav-previous data-uk-slider-item="previous"></a>
        							<a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" data-uk-slidenav-next data-uk-slider-item="next"></a>
								</div>
							</div>
						</div>
						<!-- Testimonials items end -->

					</div>
				</div>
			</div>
		</div>
		<!-- TESTIMONIALS CAROUSEL END -->

{% include 'footer/contact_main.html' %}
{% endblock %}
