{% extends 'base/base.html' %}
{% block nav %} {% include 'navbar/page_nav.html' %} {% endblock %}
{% load static %}
{% load widget_tweaks %}

{% block main %}

		<!-- PAGE HEADING -->
		<div class="impx-page-heading uk-position-relative room-detail">
			<div class="impx-overlay dark"></div>
			<div class="uk-container">
				<div class="uk-width-1-1">
					<div class="uk-flex uk-flex-left">
						<div class="uk-light uk-position-relative uk-text-left page-title">
							<h1 class="uk-margin-remove">{{ room.room }}</h1><!-- page title -->
							<p class="impx-text-large uk-margin-remove">Browse &amp; Choose Your Choice</p><!-- page subtitle -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- PAGE HEADING END -->


		<!-- CONTENT -->
		<div class="uk-padding vert uk-padding-remove-horizontal">
			<div class="uk-container">
				<div data-uk-grid>

					<div class="uk-width-1-1 uk-margin-medium-top">
						<!-- slider -->
						<div class="impx-room-slider">
							<div class="uk-position-relative" data-uk-slideshow="animation: fade">
							    <ul class="uk-slideshow-items">
									{% for i in room.room_small_img.all %}
							        <li>
							            <img src="{{ i.room_img.url }}" alt="" data-uk-cover>
							            <div class="impx-overlay"></div>
							        </li>
									{% endfor %}
							    </ul>
							    <!-- slider thumb nav -->
							    <div class="uk-position-center-left uk-position-medium">
							        <ul class="uk-thumbnav uk-thumbnav-vertical">
										{% for i in room.room_small_img.all %}
							            <li data-uk-slideshow-item="{{ i.id }}"><a href="{{ i.room_img }}"><img src="{{ i.room_img.url }}" width="120" alt=""></a></li>
										{% endfor %}
							        </ul>
							    </div>
							    <!-- slider thumb nav end -->
							</div>
						</div>
						<!-- slider end -->
					</div>

					<!-- MAIN CONTENT -->
					<div class="uk-width-2-3@xl uk-width-2-3@l uk-width-2-3@m uk-width-1-1@s">
						<!-- highlight -->
						<ul class="uk-child-width-1-3@xl uk-child-width-1-3@l uk-child-width-1-2@m uk-child-width-1-2@s uk-grid-medium uk-grid-match" data-uk-grid>
							{% for i in room.room_feature.all %}
						    <li class="uk-text-center">
						    	<div class="uk-card uk-card-default uk-card-body impx-padding-medium"><!-- highlight item #1 -->
							    	<i class="fa fa-wifi fa-2x impx-text-aqua"></i>
							    	<h6 class="uk-margin-remove-bottom uk-margin-small-top">{{ i.room_feature_title }}</h6>
							    	<p class="uk-margin-remove-bottom uk-margin-small-top">{{ i.room_feature_desc }}</p>
						    	</div>
						    </li><!-- highlight item #1 end -->
							{% endfor %}
						</ul>
						<!-- highlight end -->

						<!-- room description -->
						<h4>Room Description</h4>
						<p class="impx-text-large">{{ room.room_description }}</p>

						<p class="uk-margin-medium-bottom">Unum est sine dolore esse, alterum cum voluptate. Non risu potius quam oratione eiciendum? Mihi enim satis est, ipsis non satis. Tertium autem omnibus aut maximis rebus iis, quae secundum naturam sint, fruentem vivere. Qui non moveatur et offensione turpitudinis et comprobatione honestatis? Quae cum essent dicta, discessimus. Omnes enim iucundum motum, quo sensus hilaretur. Quamquam te quidem video minime esse deterritum Nos paucis ad haec additis finem faciamus.</p>

						<!-- room features list -->

						<hr class="uk-divider-icon">

						<!-- Review form -->
						<div class="uk-card uk-card-default uk-margin-medium-bottom">
							<div class="uk-card-body impx-padding-medium">
								<h4 class="uk-margin-medium-bottom uk-heading-bullet uk-heading-line"><span>Add Your Review</span></h4>
								<form>
								    <fieldset class="uk-fieldset">

								        <div class="uk-margin">
								            <input class="uk-input" type="text" placeholder="Name">
								        </div>
								        <div class="uk-margin">
								            <input class="uk-input" type="text" placeholder="Email">
								        </div>

								        <div class="uk-margin">
								        	<label class="uk-form-label" for="review-rating-opt">Rating</label>
								            <select id="review-rating-opt">
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
											</select>
								        </div>

								        <div class="uk-margin">
								            <textarea class="uk-textarea" rows="5" placeholder="Textarea"></textarea>
								        </div>
								        <div class="uk-margin">
								            <button class="uk-button impx-button aqua">Submit</button>
								        </div>
								    </fieldset>
								</form>
							</div>
						</div>
						<!-- Review form end -->
					</div>
					<!-- MAIN CONTENT -->

					<!-- SIDEBAR -->
					<div class="uk-width-1-3@xl uk-width-1-3@l uk-width-1-3@m uk-width-1-1@s">
						<!-- booking form -->
						<div class="bg-color-aqua uk-padding impx-padding-medium uk-margin-medium-bottom uk-box-shadow-medium">

							<div class="impx-hp-booking-form side-form uk-margin-bottom uk-margin-remove-top ">
								<h6 class="uk-heading-line uk-text-center uk-light uk-text-uppercase"><span>Booking Form</span></h6>
								<form class="" method="POST" action="{% url 'rooms:book' %}">
									{% csrf_token %}
									<div class="uk-margin">
										<div class="uk-form-controls">
										    <div class="uk-inline">
										    	<label class="uk-form-label" for="{{ form.booking_email.id_for_label }}">{{ form.booking_email.label }}</label>
										    	<span class="uk-form-icon" data-uk-icon="icon: mail"></span>
										        {% render_field form.booking_email class='uk-input booking-email uk-border-rounded' placeholder='Your Email' type="email" %}
										    </div>
									    </div>
								    </div>
								    <div class="uk-margin">
									    <div class="uk-form-controls">
										    <div class="uk-inline">
										    	<label class="uk-form-label" for="{{ form.booking_arrival.id_for_label }}">{{ form.booking_arrival.label }}</label>
										    	<span class="uk-form-icon" data-uk-icon="icon: calendar"></span>
												{% render_field form.booking_arrival type='date' class='uk-input booking-arrival uk-border-rounded' placeholder='m/dd/yyyy' %}
										    </div>
										</div>
									</div>
									<div class="uk-margin">
									    <div class="uk-form-controls">
										    <div class="uk-inline">
										    	<label class="uk-form-label" for="{{ form.booking_departure.id_for_label }}">{{ form.booking_departure.label }}</label>
										    	<span class="uk-form-icon" data-uk-icon="icon: calendar"></span>
												{% render_field form.booking_departure type='date' class='uk-input booking-departure uk-border-rounded' placeholder='m/dd/yyyy' %}
										    </div>
									    </div>
									</div>
									<div class="uk-margin">
									    <div class="uk-form-controls uk-position-relative">
									    	<label class="uk-form-label" for="{{ form.no_of_guests.id_for_label }}">{{ form.no_of_guests.label }}</label>
									    	<span class="uk-form-icon select-icon" data-uk-icon="icon: users"></span>
											{% render_field form.no_of_guests class='uk-select uk-border-rounded' %}
									    </div>
									</div>
									<div class="uk-margin">
									   <div class="uk-form-controls uk-position-relative">
									    	<label class="uk-form-label" for="{{ form.room.id_for_label }}">{{ form.room.label }}</label>
									    	<span class="uk-form-icon select-icon" data-uk-icon="icon: album"></span>
											{% render_field form.room class='uk-select uk-border-rounded' %}
									    </div>
									</div>
								    <div>
								    	<label class="uk-form-label empty-label"></label>
								        <button class="uk-button uk-width-1-1" type="submit">Search Room</button>
								    </div>
								</form>
							</div>
							<!-- booking form -->
						</div>
						<!-- SIDEBAR END -->

						<!-- related rooms -->
						<div class="uk-margin-large-bottom uk-padding impx-padding-medium bg-color-white uk-box-shadow-medium related-rooms">
							<h4 class="uk-heading-line uk-text-center">Other Rooms</h4><!-- title -->
							<!-- room items -->
					        <ul class="uk-child-width-1-1@xl uk-child-width-1-1@l uk-child-width-1-1@m uk-child-width-1-3@s impx-rooms style3 uk-margin-small-top uk-margin-remove-bottom data-uk-grid" data-uk-grid>
								{% for room in rooms %}
								<li><!-- room item #1 -->
									<a href="{{ room.get_absolute_url }}" class="uk-inline-clip uk-transition-toggle">
										<div class="uk-card uk-card-default uk-box-shadow-large uk-box-shadow-hover-xlarge impx-service-card other-item bg-color-aqua">
								        	<div class="uk-card-media-top">
								        		<div class="uk-position-relative">
									                <img src="{{ room.room_big_img.url }}" alt="">
									                <div class="impx-overlay light overlay-squared padding-xwide"></div>
									            </div>
								                <div class="uk-card-body impx-padding-small uk-position-relative uk-position-z-index">
								                	<h4 class="uk-card-title uk-margin-remove-bottom impx-text-white room-name">{{ room.room }}</h4>
								                	<div class="uk-card-badge uk-label bg-color-gold impx-text-white small">${{ room.room_price }}</div>
									            </div>
								            </div>
								            <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary impx-overlay aqua-darkest">
								            	<p class="impx-text-white">{{ room.room_description|truncatewords:5 }}</p>
			                                    <ul class="uk-list room-fac impx-text-white">
													{% for i in room.room_feature.all %}
													<li><span class="impx-text-white" data-uk-icon="icon: check; ratio: 1;"></span>{{ i }}</li>
													{% endfor %}
												</ul>
								        	</div>
							        	</div>
							        </a>
								</li><!-- room item #1 end -->
								{% endfor %}
								<div class="uk-margin-remove-bottom"></div>
							</ul>
						<!-- related rooms end -->

					</div>

				</div>
			</div>
		</div>
	</div>
		<!-- CONTENT END -->



{% include 'footer/contact_main.html' %}
{% endblock %}
